<%= form_for @user do |f| %>
  <ul>
    <% @user.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
  USERNAME:<%= f.text_field :username %> <br />
  EMAIL:<%= f.text_field :email %> <br />
  PASSWORD: <%= f.password_field :password %><br />
  <%= f.submit %>
<% end %>